.hero-image {
    position: relative;
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
}
.hero-image {
    position: relative;
    width: 100%;
    height: 650px;
    background-size: cover; 
    background-position: left; 
    background-repeat: no-repeat; }


.search-bar {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0); 
    /* backdrop-filter: blur(5px);  */
    padding: 20px;
    z-index: 1; 
}

.search-bar .container {
    position: relative;
    z-index: 2;
    text-align: center;
}

.search-bar .form-control {
    width: 60%; 
}

.search-bar .btn {
    margin-top: 10px;
}

.search-bar h1 {
    color: #007bff; 
}

.navbar {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    background: transparent; 
    color: white; 
    z-index: 1000; 
    padding: 10px 0; 
}


.body-content {
    margin-top: 60px; 
}

  /* Styling for navbar items (links) */
.navbar a {
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #f0eeee; /* Change color on hover */
    color: black;
}
.mehdi{

    background-color: #007bff;
}
.body {

    background-color: #007bff;
}
/*.hero-image {
    position: relative;
    width: 100%;
    height: 300px;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.search-bar {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    z-index: 2;
    width: 100%; 
    max-width: 400px; 
    box-sizing: border-box;
    overflow: hidden;
}

.search-bar .container {
    position: relative;
    z-index: 2;
    text-align: center; 
    width: 100%;
    overflow: hidden; 
}

.search-bar .form-control {
    width: 100%;
    max-width: 300px;
    min-width: 250px;
    height: 40px;
}

.search-bar .btn {
    margin-top: 10px;
}

.search-bar h1 {
    color: #007bff;
    font-size: 2rem;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.search-bar .btn-primary {
    transform: translateY(-7px);
}*/
#about img {
    width: 600px;      
    height: 410px;     
    object-fit: cover; 
}
